<br><br>
<div align="center" style="margin: auto">
  <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="date" id="dataInizio" formControlName="dataInizio" [(ngModel)]="prenotazione.dataInizio"
             class="form-control">
      <label for="dataInizio">Data di inizio: </label>
    </div>
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="date" id="dataFine" formControlName="dataFine" [(ngModel)]="prenotazione.dataFine"
             class="form-control">
      <label for="dataFine">Data di fine: </label>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
  </form>
</div>
