<br><br>
<div align="center" style="margin: auto">
  <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="date" id="inizio" formControlName="dataInizio" [(ngModel)]="prenotazione.inizio"
             class="form-control">
      <label for="inizio">Data di inizio: </label>
    </div>
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="date" id="fine" formControlName="dataFine" [(ngModel)]="prenotazione.fine" class="form-control">
      <label for="fine">Data di fine: </label>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
  </form>
</div>
