<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/55/55283.png" alt="" width="30" height="30"
           class="d-inline-block align-text-top">
      RentCar </a>
    <a class="navbar-brand" style="font-family: 'Book Antiqua'">Esplora il nostro sito!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <button class="btn btn-light" (click)="toHome()" style="width: 4%">HomePage</button>
        <br>
        <button class="btn btn-light" (click)="onAutoList()" style="width: 4%">Parco Auto</button>
        <br>
        <button class="btn btn-light" (click)="onProfile()" style="width: 4%" *ngIf="authService.isUser$|async">Profilo
          Utente
        </button>
        <br>
        <div class="align-content-md-between" style="width: 4%">
          <button class="w-100 btn btn-lg btn-danger" type="submit" (click)="onLogout()">Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
