<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://cdn-icons-png.flaticon.com/512/55/55283.png" alt="" width="30" height="30"
           class="d-inline-block align-text-top">
      RentCar </a>
    <a class="navbar-brand" href="#">Esplora il nostro sito!</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">HomePage</a>
        <a class="nav-link" href="#">Parco Auto</a>
        <a class="nav-link" href="#">Profilo Utente</a>
        <button type="button" class="btn btn-primary" style="width: 80px">Logout</button>
      </div>
    </div>

  </div>
</nav>
