<main class="form-signin w-100 m-auto">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/55/55283.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 fw-normal">Benvenuto in RentCar</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="Indirizzo email" formControlName="email"/>
      <div
        *ngIf="reactiveForm?.get('email')?.hasError('required')"
        class="alert alert-danger"> Richiesto indirizzo email!
      </div>
      <div
        *ngIf="reactiveForm?.get('email')?.hasError('email')"
        class="alert alert-danger"> Dicitura email necessaria!
      </div>
      <label for="email">Indirizzo email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"
             required>
      <div
        *ngIf="reactiveForm?.get('password')?.hasError('required')"
        class="alert alert-danger"> Richiesta password!
      </div>
      <div *ngIf="reactiveForm.get('password')?.hasError('pattern')" class="alert alert-danger">
        Caratteri di inserimento errati!
      </div>
      <label for="password">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Accedi</button>
  </form>

</main>
