<body>
<div align="center">
  <br/>

  <button Class="btn btn-primary">Nuovo utente</button>
  <br/><br/>

  <h1 align="center">Lista utenti:
  </h1>
  <br/>

  <div align="center">

    <table border="1" cellpadding="5" class="table" style="width:60%">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        <th scope="col">Data Di Nascita</th>
        <th scope="col">Operazioni</th>
      </tr>
      </thead>

    </table>
    <br/><br/>

    <tr>
      Campo per il filtraggio:
      <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="parametri">
        <option value="Nome">Nome</option>
        <option value="Cognome">Cognome</option>
        <option value="Email">Email</option>
      </select>
      <br/>
      Testo da cercare:<input type="text" name="text"/>
      <button Class="btn btn-primary">Cerca</button>

    </tr>
  </div>

</div>
</body>


