<div *ngIf="tableConfig.search.filterAllowed===true" align="center" style="margin: auto;
    width: 50%;
    padding: 10px;">
  <select class="form-select form-select-lg mb-3" [(ngModel)]="selectedField">
    <option *ngFor="let column of columns" [value]="column">{{column}}</option>
  </select>
  <div class="form-outline">
    <input type="text" name="filter" [(ngModel)]="filterText" placeholder="Filtra per {{selectedField}}">
  </div>
</div>
<br><br>
<table class="table table-bordered table-striped-columns" style="width:70%;margin:auto">
  <thead class="border-opacity-75">
  <th *ngFor="let headers of tableConfig.headers" (click)="onSelect(headers.key)">
    <tr>{{headers.label}}</tr>
    <i [ngClass]="[sortedOrder==='asc' ? 'arrow up' : 'arrow down']"></i>
  </th>
  <th class="accordion-header"><i>Operazioni</i></th>
  </thead>
  <tbody>
  <tr
    *ngFor="let dataRow of data | filter : filterText : selectedField | order : key : sortedOrder | pagination : selectedItemsOption:page">
    <td *ngFor="let headers of tableConfig.headers">
      {{ dataRow[headers.key]}}
    </td>
    <th>
      <div *ngFor="let actions of actionConfig">
        <app-button *ngIf="actions.buttonOnTop===false" (click)="onClickButton(actions,dataRow)" [buttonConfig]=
          "{icon:actions.icon, label:actions.label, customCssClass:actions.customCssClass}">
        </app-button>
      </div>
    </th>
  </tr>


  </tbody>
</table>
<div align="center" style="margin: auto;
    width: 50%;
    padding: 10px;">
  <div *ngFor="let actions of tableConfig.actions">
    <app-button *ngIf="actions.buttonOnTop===true" [buttonConfig]=
      "{icon:actions.icon, label:actions.label, customCssClass:actions.customCssClass}"
                (click)="onClickButton(actions,null)">
    </app-button>
  </div>
  <br>
  Numeri di elementi da mostrare:
  <select class="form-select form-select-lg mb-3" [(ngModel)]="selectedItemsOption">
    <option *ngFor="let i of itemsOptionsPage">{{i}}</option>
  </select>
  <nav aria-label="...">
    <ul class="pagination pagination-lg">
      <li class="page-item active" aria-current="page">
        <button *ngFor="let i of data | filterpage : selectedItemsOption : page; let index =index"
                (click)="selectPage(index + 1) ">
          {{index + 1}}
        </button>
        <i>Pagina {{page}}</i>
      </li>
    </ul>
  </nav>
</div>

