<br>
<h1><p class="font-weight-light" align="center" style="font-family: 'Baskerville Old Face'">Aggiunta customer</p></h1>
<br>
<div align="center" style="margin: auto">
  <form [formGroup]="reactiveForm" (ngSubmit)="submit()">
    <input type="hidden" id="id" formControlName="id" [(ngModel)]="customer.id" class="form-control">
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="text" id="nome" formControlName="nome" [(ngModel)]="customer.nome" class="form-control">
      <label for="nome">Nome: </label>
    </div>
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="text" id="cognome" formControlName="cognome" [(ngModel)]="customer.cognome" class="form-control">
      <label for="cognome">Cognome: </label>
    </div>
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="text" id="email" formControlName="email" [(ngModel)]="customer.email" class="form-control">
      <label for="email">Email: </label>
    </div>
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="text" id="telefono" formControlName="telefono" [(ngModel)]="customer.telefono" class="form-control">
      <label for="telefono">Telefono: </label>
    </div>
    <div class="form-floating mb-3" align="center" style="margin: auto; width: 30%">
      <input type="date" id="dataDiNascita" formControlName="dataDiNascita" [(ngModel)]="customer.dataDiNascita"
             class="form-control">
      <label for="dataDiNascita">Data di nascita: </label>
    </div>
    <button type="submit" class="btn btn-primary">Aggiungi</button>
  </form>
</div>
