<body>
<br/>

<div align="center">
  <h1 align="center">Lista prenotazioni:
  </h1>
  <br/>

  <table border="1" cellpadding="5" class="table" style="width:60%">
    <thead>
    <tr>
      <th scope="col">Data Inizio</th>
      <th scope="col">Data Fine</th>
      <th scope="col">Veicolo</th>
      <th scope="col">Operazioni</th>
    </tr>
    </thead>
    <tr>

    </tr>

  </table>
  <br/>

  <div align="center">
    <tr>
      Data di inizio da cercare:<input name="inizio" type="date" class="form-control form-control-lg"
                                       placeholder=".form-control-lg" aria-label=".form-control-lg example"
                                       style="font-size: large"/>
      Data di fine da cercare:<input name="fine" type="date" class="form-control form-control-lg"
                                     placeholder=".form-control-lg" aria-label=".form-control-lg example"
                                     style="font-size: large"/>
      <input name="id" value="0" type="hidden" class="form-control form-control-lg"
             placeholder=".form-control-lg" aria-label=".form-control-lg example"/>
      <input type="submit" class="btn btn-primary"/>
    </tr>
  </div>
</div>
</body>
